<div id="home-text" class="text-left container mt-5">
  <h1>Prueba Técnica</h1>
  <h2>Lista de películas y series</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis magnam vitae, reprehenderit ipsam delectus nulla
    nihil consequuntur doloribus et aspernatur optio recusandae, eum quae. In unde asperiores numquam exercitationem
    vitae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, provident ab. Pariatur ex fuga tempore modi
    magnam error at quos inventore tempora? Harum earum quibusdam dolores laboriosam beatae exercitationem nam?</p>
</div>
